fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
pymupdf
python-docx
groq
spacy
google-api-python-client
google-auth
google-auth-oauthlib
gspread
chromadb
sentence-transformers
streamlit
pandas

